<% if @rental.errors.any? %>
<p> Você deve corrigir os seguintes erros para continuar: </p>
<ul>
<% @rental.errors.values.each do |error_messages_group| %>
<% error_messages_group.each do |error_message| %>
<li><%= error_message %></li>
<% end %>
<% end %>
</ul>

<% end %>


<%= form_for @rental do |form| %>

<p>
<%= form.label :start_date, 'Data de início' %>
<%= form.date_field :start_date %>
</p>

<p>
<%= form.label :end_date, 'Data de fim' %>
<%= form.date_field :end_date %>
</p>

<p>
<%= form.label :client_id, 'Cliente' %>
<%= form.collection_select :client_id, @clients, :id, :name_document %>
</p>

<p>
<%= form.label :car_category_id, 'Categoria de Carro' %>
<%= form.collection_select :car_category_id, @car_categories, :id, :name %>
</p>

<p>
<%= form.submit 'Enviar' %>
</p>

<% end %>
