<h1> Locações </h1>

<%= form_tag search_rentals_path, method: :get do %>
<%= label_tag :q, 'Pesquisa' %>
<%= text_field_tag :q %>
<%= submit_tag 'Buscar' %>
<% end %>

<br><br>

<%= render partial: 'partial_results' %>

<br>

<%= link_to 'Agendar locação', new_rental_path %>
