<h1 class="ls-title-intro ls-ico-search">Locações</h1>

<div class="ls-box-filter">
<%= form_tag search_rentals_path, method: :get,
             class: "ls-form ls-form-inline" do %>
<%= label_tag :q, 'Pesquisa' %>
<%= text_field_tag :q %>
<%= submit_tag 'Buscar', class: "ls-btn" %>
<% end %>
</div>

<% if @q.present? %>

<div id="cars" class="ls-tab-content ls-active">
  <table class="ls-table ls-table-striped ls-bg-header">
    <thead>
      <tr>
        <th>Código</th>
        <th class="hidden-xs">Cliente</th>
        <th>Email</th>
        <th class="hidden-xs">Categoria</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @rentals.each do |rental| %>
      <tr>
        <td><%= link_to rental.code, rental_path(rental) %></td>
        <td class="hidden-xs"><%= rental.client.name %></td>
        <td><%= rental.client.email %></td>
        <td class="hidden-xs"><%= rental.car_category.name %></td>
        <td><%= rental.status %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= "#{@rentals.length} resultado(s) encontrado(s)" %>

<% end %>
