<ul>
  <li><%= @car_rental.car.car_model.name %></li>
  <li><%= @car_rental.car.license_plate %></li>
  <li><%= @car_rental.rental.client.name %></li>
  <li><%= @car_rental.rental.client.document %></li>
  <li><%= format("%.2f", @car_rental.daily_rate) %></li>
  <li><%= @car_rental.rental.status %></li>
</ul>
