<h2> Modelo de Carro <%= @car_model.name %> </h2>

<ul>
  <li>Ano: <%= @car_model.year %></li>
  <li>Motorização: <%= @car_model.motorization %></li>
  <li>Tipo de Combustível: <%= @car_model.fuel_type %></li>
  <li>Fabricante: <%= @car_model.manufacturer.name %></li>
  <li>Categoria do Carro: <%= @car_model.car_category.name %></li>
</ul>

<%= link_to 'Editar', edit_car_model_path(@car_model) %>
<%= link_to 'Deletar', car_model_path(@car_model), method: :delete, data: {confirm: 'Tem certeza?'} %>

<p>
  <%= link_to 'Home Page', root_path %> |
  <%= link_to 'Todos os modelos de carros', car_models_path %>
</p>
