<% if @client.errors.any? %>
<h3> <%= pluralize(@client.errors.count, 'falha') %> </h3>
<p> Você deve corrigir os seguintes erros para continuar: </p>

<ul>
  <% @client.errors.values.each do |messages_group| %>
  <% messages_group.each do |message| %>
  <li><%= message %></li>
  <% end %>
  <% end %>
</ul>
<% end %>

<%= form_with(model: @client, local: true) do |form| %>
<p>
  <%= form.label :name, 'Nome'%>
  <%= form.text_field :name %>
</p>

<p>
<%= form.label :email, 'Email' %>
<%= form.text_field :email %>
</p>

<p>
<%= form.label :document, 'CPF' %>
<%= form.text_field :document %>
</p>

<p>
<%= form.submit 'Enviar' %>
</p>

<% end %>
