<h2> <%= "Cliente #{@client.name}" %> </h2>

<ul>
  <li> Nome: <%= @client.name %> </li>
  <li> Email: <%= @client.email %> </li>
  <li> CPF: <%= @client.document %> </li>
</ul>

<%= link_to 'Editar', edit_client_path(@client) %> |
<%= link_to 'Deletar', @client, method: :delete, data: {confirm: 'Tem certeza?'} %>

<p>
<%= link_to 'Home Page', root_path %> |
<%= link_to 'Todas os Clientes', clients_path %>
</p>
