<h1 class="ls-title-intro ls-ico-cart">Carros</h1>

<ul class="ls-tabs-nav">
  <li class="ls-active"><a data-ls-module="tabs" href="#cars">Carros</a></li>
  <li><a data-ls-module="tabs" href="#car_models">Modelos de Carros</a></li>
  <li><a data-ls-module="tabs" href="#manufacturers">Fabricantes</a></li>
</ul>

<div class="ls-tabs-container">

  <div id="cars" class="ls-tab-content ls-active">
    <table class="ls-table ls-table-striped ls-bg-header">
      <thead>
        <tr>
          <th>Placa</th>
          <th class="hidden-xs">Fabricante</th>
          <th>Modelo</th>
          <th class="hidden-xs">Filial</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @cars.each do |car| %>
        <tr>
          <td><%= link_to car.license_plate, car_path(car) %></td>
          <td class="hidden-xs"><%= car.car_model.manufacturer.name %></td>
          <td><%= car.car_model.name %></td>
          <td class="hidden-xs"><%= car.subsidiary.name %></td>
          <td id=<%= "car-#{car.id}" %>>
            <%= link_to 'Editar', edit_car_path(car), class: "ls-btn" %>
            <%= link_to 'Deletar', car_path(car), method: :delete, data:
            {confirm: 'Tem certeza?'}, class: "ls-btn-primary-danger ls-ico-"\
                                              "remove" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Registrar novo carro', new_car_path, class: 'ls-btn-primary' %>
  </div>

  <div id="car_models" class="ls-tab-content">
    <table class="ls-table ls-table-striped ls-bg-header">
      <thead>
        <tr>
          <th>Modelo</th>
          <th class="hidden-xs">Fabricante</th>
          <th>Categoria</th>
          <th class="hidden-xs">Ano</th>
          <th>Motor</th>
          <th class="hidden-xs">Combustível</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% @car_models.each do |car_model| %>
        <tr>
          <td><%= car_model.name %></td>
          <td class="hidden-xs"><%= car_model.manufacturer.name %></td>
          <td><%= car_model.car_category.name %></td>
          <td class="hidden-xs"><%= car_model.year %></td>
          <td><%= car_model.motorization %></td>
          <td class="hidden-xs"><%= car_model.fuel_type %></td>
          <td id=<%= "car_model-#{car_model.id}" %> colspan="2">
            <%= link_to 'Editar', edit_car_model_path(car_model),
                                  class: "ls-btn" %>
            <%= link_to 'Deletar', car_model_path(car_model),
                                   method: :delete, data: {confirm:
                                   'Tem certeza?'}, class: "ls-btn-primary-"\
                                                           "danger ls-ico-"\
                                                           "remove" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Registrar novo modelo de carro', new_car_model_path,
                                                  class: 'ls-btn-primary' %>
  </div>

  <div id="manufacturers" class="ls-tab-content">
    <% @manufacturers.each do |manufacturer| %>
    <div class="ls-list">
      <header class="ls-list-header">
        <div class="ls-list-title col-md-9">
          <h5 class="ls-title-5" ><%= manufacturer.name %></h5>
        </div>
        <div class="col-md-3 ls-txt-right" id="manufacturer-<%= manufacturer.id %>">
          <%= link_to 'Editar', edit_manufacturer_path(manufacturer), class: "ls-btn" %>
          <%= link_to 'Deletar', manufacturer, class: "ls-btn-primary-danger
          ls-ico-remove", method: :delete, data: {confirm: 'Tem certeza?'}%>
        </div>
      </header>
    </div>
    <% end %>
    <br>
    <%= link_to 'Registrar novo fabricante', new_manufacturer_path, class: 'ls-btn-primary' %>
  </div>


</div>
