<h2> Carro </h2>

<ul>
  <li>Placa: <%= @car.license_plate %></li>
  <li>Fabricante/Modelo: <%= "#{@car.car_model.manufacturer.name} #{@car.car_model.name}" %></li>
  <li>Ano: <%= @car.car_model.year %></li>
  <li>Motor: <%= @car.car_model.motorization %></li>
  <li>Tipo de combustível: <%= @car.car_model.fuel_type %></li>
  <li>Quilometragem: <%= format("%.2f", @car.mileage) %></li>
  <li>Filial: <%= "#{@car.subsidiary.name} - #{@car.subsidiary.address}" %></li>
</ul>

<%= link_to 'Editar', edit_car_path(@car) %> |
<%= link_to 'Deletar', car_path(@car), method: :delete, data: {confirm: 'Tem certeza?'} %>
