<h2> <%= "Categoria #{@car_category.name}"%> </h2>
<h3> <%= flash[:notice] %> </h3>

<ul>
  <li> <%= "Diária: R$ #{format("%.2f", @car_category.daily_rate)}" %> </li>
  <li> <%= "Seguro do Carro: R$ #{format("%.2f", @car_category.car_insurance)}" %> </li>
  <li> <%= "Seguro para Terceiros: R$ #{format("%.2f", @car_category.third_party_insurance)}" %> </li>
</ul>

<%= link_to 'Editar', edit_car_category_path(@car_category) %>
<%= link_to 'Deletar', @car_category, method: :delete, data: {confirm: 'Você tem certeza?'} %>

<p>
<%= link_to 'Home Page', root_path %> |
<%= link_to 'Todas as categorias de carros', car_categories_path %>
</p>
