<% if @subsidiary.errors.any? %>
  <div class="ls-alert-danger">Você deve corrigir os seguintes erros para continuar</div>
    <ul>
      <% @subsidiary.errors.values.each do |messages_group| %>
        <% messages_group.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>
    </ul>
    <br>
<% end %>

<%= form_with(model: @subsidiary, local: true, class: "ls-form-horizontal") do
                                                                     |form| %>
<label class="ls-label col-md-3">
  <%= form.label :name, 'Nome' %>
  <p class="ls-label-info">Nome da filial</p>
  <%= form.text_field :name %>
</label>

<label class="ls-label col-md-3">
  <%= form.label :cnpj, 'CNPJ' %>
    <p class="ls-label-info">Digite apenas números</p>
  <%= form.text_field :cnpj %>
</label>

<label class="ls-label col-md-3">
  <%= form.label :address, 'Endereço' %>
  <p class="ls-label-info">Ex: Rua Itapaiuna</p>
  <%= form.text_field :address %>
</label>

<label class="ls-label col-md-3">
  <%= form.label :number, 'Número' %>
  <p class="ls-label-info">Número do endereço</p>
  <%= form.text_field :number %>
</label>

<label class="ls-label col-md-3">
  <%= form.label :district, 'Bairro' %>
  <p class="ls-label-info">Ex: Vila Andrade</p>
  <%= form.text_field :district %>
</label>

<label class="ls-label col-md-3">
  <%= form.label :zip_code, 'CEP' %>
  <p class="ls-label-info">Digite sem hífen ou pontos</p>
  <%= form.text_field :zip_code %>
</label>

<label class="ls-label col-md-3">
  <%= form.label :state, 'Estado' %>
  <p class="ls-label-info">Ex: SP</p>
  <%= form.text_field :state %>
</label>

<label class="ls-label col-md-3">
  <%= form.label :city, 'Cidade' %>
  <p class="ls-label-info">Nome da cidade</p>
  <%= form.text_field :city %>
</label>

<div class="ls-actions-btn">
  <%= form.submit 'Enviar', class: 'ls-btn-primary' %>
</div>
<% end %>
