<h2> <%= "Filial #{@subsidiary.name}" %> </h2>

<ul>

  <li> Endereço: <%= @subsidiary.address %> </li>
  <li> CNPJ: <%= @subsidiary.cnpj %> </li>
</ul>

<%= link_to 'Editar', edit_subsidiary_path(@subsidiary) %>
<%= link_to 'Deletar', subsidiary_path(@subsidiary), method: :delete, data: {confirm: 'Você tem certeza?'} %>


<p>
<%= link_to 'Home Page', root_path %> |
<%= link_to 'Todas as filiais', subsidiaries_path %>
</p>
